.homePage .hidden {
  display: none;
}
.homePage .craftingTable {
  margin-left: auto;
  margin-right: auto;
  width: 215px;
  height: 110px;
  background: #c6c6c6;
  border: 2px solid;
  border-color: #DBDBDB #5B5B5B #5B5B5B #DBDBDB;
  padding: 6px;
}
.homePage .craftingTable .recipeBox {
  display: inline-block;
}
.homePage .craftingTable .recipeBox .recipeRow {
  display: block;
}
.homePage .craftingTable .recipeBox .recipeRow .recipeSlot {
  position: relative;
  display: inline-block;
  background: #8B8B8B;
  border: 2px solid;
  border-color: #373737 #FFF #FFF #373737;
  width: 32px;
  height: 32px;
  vertical-align: bottom;
}
.homePage .craftingTable .recipeBox .recipeRow .recipeSlot:nth-of-type(2) {
  margin-left: -4px;
  margin-right: -4px;
}
.homePage .craftingTable .arrow {
  background: url('..//images/arrow.png') no-repeat;
  width: 32px;
  height: 63px;
  display: inline-block;
}
.homePage .craftingTable .output {
  position: relative;
  display: inline-block;
  background: #8B8B8B;
  border: 2px solid;
  border-color: #373737 #FFF #FFF #373737;
  width: 32px;
  height: 32px;
  vertical-align: bottom;
  padding: 8px;
  margin-bottom: 27px;
}
.homePage .craftingTable .output .stackSize {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-family: Minecraft;
  color: #FFF;
  text-shadow: 2px 2px 0 #3F3F3F;
  filter: dropshadow(color=#3F3F3F, offx=2, offy=2);
  z-index: 2;
}
.homePage .craftingTable .item {
  background: url('../images/invSprite.png');
  width: 32px;
  height: 32px;
}
.homePage md-autocomplete {
  margin-top: 30px;
}
.homePage md-tabs {
  margin-top: 30px;
  background: white;
}
.homePage md-tab-content .pages a {
  color: rgba(0, 0, 0, 0.54);
}
.homePage md-tab-content .pages a.disabled {
  cursor: default;
  color: #ccc;
}
.homePage md-tab-content .pages ul {
  padding: 0;
}
.homePage md-tab-content .pages .leftArrow {
  float: left;
  width: 33.3%;
  list-style: none;
}
.homePage md-tab-content .pages .rightArrow {
  float: right;
  width: 33.3%;
  text-align: right;
  list-style: none;
}
.homePage md-tab-content .pages .range-label {
  float: left;
  width: 33.3%;
  text-align: center;
}
body {
  background: url('../images/bg.jpg');
  background-size: 50%;
  color: white;
}
@font-face {
  font-family: Minecraft;
  src: url('fonts/Minecraft.woff');
}
h1 {
  text-align: center;
}
#loading-bar .bar {
  background: #00ff00;
  z-index: 100002;
}
