<div layout="column" class='homePage'> 
	<div flex>
		<div class='craftingTable'>
			<div class='recipeBox'>
				<div class='recipeRow'>
					<div class='recipeSlot'>
						<md-tooltip ng-if='recipeMap[0][0]'>
				         	{{recipeMap[0][0]}}
				        </md-tooltip>
						<div class='item' style='{{inputImages[0][0]}}'>
						</div>
					</div>
					<div class='recipeSlot'>
						<md-tooltip ng-if='recipeMap[0][1]'>
				         	{{recipeMap[0][1]}}
				        </md-tooltip>
						<div class='item' style='{{inputImages[0][1]}}'>
						</div>
					</div>
					<div class='recipeSlot'>
						<md-tooltip ng-if='recipeMap[0][2]'>
				         	{{recipeMap[0][2]}}
				        </md-tooltip>
						<div class='item' style='{{inputImages[0][2]}}'>
						</div>
					</div>
				</div>
				<div class='recipeRow'>
					<div class='recipeSlot'>
						<md-tooltip ng-if='recipeMap[1][0]'>
				         	{{recipeMap[1][0]}}
				        </md-tooltip>
						<div class='item' style='{{inputImages[1][0]}}'>
						</div>
					</div>
					<div class='recipeSlot'>
						<md-tooltip ng-if='recipeMap[1][1]'>
				         	{{recipeMap[1][1]}}
				        </md-tooltip>
						<div class='item' style='{{inputImages[1][1]}}'>
						</div>
					</div>
					<div class='recipeSlot'>
						<md-tooltip ng-if='recipeMap[1][2]'>
				         	{{recipeMap[1][2]}}
				        </md-tooltip>
						<div class='item' style='{{inputImages[1][2]}}'>
						</div>
					</div>
				</div>
				<div class='recipeRow'>
					<div class='recipeSlot'>
						<md-tooltip ng-if='recipeMap[2][0]'>
				         	{{recipeMap[2][0]}}
				        </md-tooltip>
						<div class='item' style='{{inputImages[2][0]}}'>
						</div>
					</div>
					<div class='recipeSlot'>
						<md-tooltip ng-if='recipeMap[2][1]'>
				         	{{recipeMap[2][1]}}
				        </md-tooltip>
						<div class='item' style='{{inputImages[2][1]}}'>
						</div>
					</div>
					<div class='recipeSlot'>
						<md-tooltip ng-if='recipeMap[2][2]'>
				         	{{recipeMap[2][2]}}
				        </md-tooltip>
						<div class='item' style='{{inputImages[2][2]}}'>
						</div>
					</div>
				</div>
			</div>
			<div class='arrow'>
			</div>
			<div class='output'>
				<md-tooltip md-direction="right" ng-if='recipeName'>
		         	{{recipeName}}
		        </md-tooltip>
				<div class='item' style='{{outputSprite}}'>
					<img src='{{outputImage}}' ng-show='outputImage'/>
				</div>
				<div class='stackSize' ng-show='stackSize'>
					{{stackSize}}
				</div>
			</div>
		</div>
	</div>
	<div flex layout='row'>
		<div flex='90'>
			<md-autocomplete 
				md-selected-item="selectedItem" 
				md-search-text="searchText"
				md-item-text="recipe.name" 
				placeholder='Type recipe name'
	          	md-items="recipe in querySearch(searchText)"
	          	md-item-text="recipe.name"
	          	md-min-length="0"
	          	ng-click="addToHistory()"
	          	md-selected-item-change="selectedItemChange(recipe)"
	          	>
				<md-item-template>
					<span md-highlight-text="searchText" md-highlight-flags="^i">{{recipe.name}}</span>
				</md-item-template>
				<md-not-found>
					No matches found.
				</md-not-found>
			</md-autocomplete>
		</div>
		<div flex>
			<i class="fa {{bookmark}} bookmark" ng-show='searchText' ng-click='addToBookmark()'></i>
			<i class="fa fa-star-o bookmark disabled" ng-show='!searchText'></i>
		</div>
    </div>
	<div flex>
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="History">
				<md-content class="md-padding">
					<md-list>
					 	<md-list-item dir-paginate="recipe in history | itemsPerPage: 5" ng-click="goToHistory($index)" pagination-id="history">{{ recipe.recipe.name }}</md-list-item>
						<md-list-item ng-show='!history.length'>
							<p>No History</p>
						</md-list-item>
					</md-list>
					<dir-pagination-controls boundary-links="true" template-url="views/dirPagination.tpl.html" on-page-change="pageChangeHandler(newPageNumber)" pagination-id="history"></dir-pagination-controls>
				</md-content>
			</md-tab>
			<md-tab label="Bookmarks">
				<md-content class="md-padding">
					<md-list>
					 	<md-list-item dir-paginate="recipe in bookmarks | itemsPerPage: 5" ng-click="goToBookmark($index)" pagination-id="bookmarks">
					 		{{ recipe.name }}
					 		<md-icon ng-click="removeBookmark($index)" aria-label="Remove Bookmark" class="md-secondary">
					 			<i class="fa fa-trash"></i>
					 		</md-icon>
					 	</md-list-item>
						<md-list-item ng-show='!bookmarks.length'>
							<p>No Bookmarks</p>
						</md-list-item>
					</md-list>
					<dir-pagination-controls boundary-links="true" template-url="views/dirPagination.tpl.html" on-page-change="pageChangeHandler(newPageNumber)" pagination-id="bookmarks"></dir-pagination-controls>
				</md-content>
			</md-tab>
		</md-tabs>
	</div>
</div>